Button {
    border-radius: 0.75rem;
    padding: 0.75rem 1rem;
    min-height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgb(100 116 139);
    color: rgb(248 250 252);
}

Button:hover {
    filter: brightness(50%);
    transition: all 0.5s ease 0s;
}

Button:active {
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
}
